<br />
<br />
<br />
<br />
<br />

<div class="conatiner-fluid" style="border: solid; width: 500px;">
  <h3>my messages</h3>
  <hr />
  <div *ngFor="let m of messages.messages">
    <span
      ><img
        src="{{ m.image }}"
        width="30px"
        height="30px"
        style="border-radius: 50%;"
      />: <span>{{ m.message }} </span></span
    >
  </div>
</div>

<!-- <br />
<br />
<br />

<div *ngFor="let friend of users">
  <div
    class="container-fluid mt-2"
    *ngIf="id === users.indexOf(friend)"
    style="border: solid; width: 400px;"
  >
    <span>
      <img
        src="{{ friend.image }}"
        width="60px"
        height="60px"
        style="border-radius: 50%;"
      /><span class="font-weight-bold">{{ friend.name }}</span></span
    >
    <hr />
    <ul *ngFor="let m of users[currentUser]">
      <li>
        <span>
          <img src="{{ m.image }}" width="20px" style="border-radius: 50%;" />
          {{ m.message }}
        </span>
      </li>
    </ul>
    <div class="mt-5">
      <img
        src="{{ image() }}"
        width="40px"
        height="40px"
        style="border-radius: 50%;"
      /><span
        ><input #chat placeholder="write a message" />
        <button
          class="btn btn-info btn-sm mb-1"
          (click)="reply(chat, users.indexOf(friend))"
        >
          send
        </button>
      </span>
    </div>
  </div>
</div>
<!-- <div style="margin-left: 620px;">
  
</div> -->
