<br />
<br />
<br />
<br />
<br />

<div class="conatiner-fluid ml-3" style="border: solid; width: 400px;">
  <h3
    style="
      background-color: blue;
      color: white;
      border-bottom: 1px solid black;
    "
  >
    my messages
  </h3>

  <div *ngFor="let m of messages">
    <img
      src="{{ m.image }}"
      width="30px"
      height="30px"
      style="border-radius: 50%;"
    />
    <span *ngIf="m.to"
      >to
      <img
        src="{{ m.to }}"
        width="30px"
        height="30px"
        style="border-radius: 50%;"
      />
    </span>
    <span>
      {{ m.message }}
      <button
        *ngIf="!m.to"
        class="btn btn-info btn-sm"
        (click)="navigate(m.id)"
      >
        reply
      </button>
    </span>

    <hr />
  </div>
</div>
