#friend:hover {
  width: 300px;
  color: blue;
  background-color: white;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile2 {
  width: 0.1px;
  height: 0.1px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

body {
  background-color: whitesmoke;
}
