<div style="float: right; margin-left: 10px;" class="dropdown">

    <i (click)="notificationSeen()" class="fa fa-bell-o" style="color:white;" aria-hidden="true" type="button"
        id=" dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
    <span style="color:white; font-weight: bolder; margin-bottom: 20px;"
        *ngIf="unseenNots.length > 0">{{unseenNots.length}} </span>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <p *ngIf="!haveNotification"> no notification </p>
        <div *ngFor="let not of notificationObject; let i = index">
            <li *ngIf="not.doneBy" (click)="goToDescription(not.relatedPostId)" class="dropdown-item "
                style="font-size: small; cursor: pointer;">
                <img src="{{    not.doneBy.profilePhoto}}" width="30px" style="border-radius: 50%">
                <span class="font-weight-bold"> {{ not.doneBy.firstName + " " + not.doneBy.lastName }}
                </span>
                {{not.action}}
                <small style="color: blue;">
                    {{not.time}} {{not.timeUnit}} {{not.time ? 'ago' : ''}} </small></li>
            <hr>
        </div>
    </div>