<div style="float: right; margin-left: 10px;" class="dropdown">
    <button (click)="notificationSeen()" class="btn btn-light btn-sm dropdown-toggle" type="button"
        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell" style="color:blue;" aria-hidden="true"></i>
        <span style="color:red; font-weight: bolder;" *ngIf="unseenNots.length > 0">{{unseenNots.length}} </span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <p *ngIf="!haveNotification"> no notification </p>
        <div *ngFor="let not of notificationObject; let i = index">
            <li *ngIf="not.doneBy" (click)="goToDescription(not.relatedPostId)" class="dropdown-item "
                style="font-size: small; cursor: pointer;">
                <img src="{{ imgUrl + not.doneBy.profilePhoto}}" width="30px" style="border-radius: 50%">
                <span class="font-weight-bold"> {{ not.doneBy.firstName + " " + not.doneBy.lastName }}
                </span>
                {{not.action}} your post
                <small style="color: blue;">
                    {{not.dateInMinutes}} minutes ago </small></li>
            <hr>
        </div>
    </div>