<div class="container-fluid" [ngStyle]="{'animation-duration':index }">
    <div
        style="background-image: url({{page.coverPhoto}}); border-top-left-radius:  8px;border-top-right-radius:  8px ; height:150px; width: 100%; background:content-box; background-position: center;">
    </div>
    <div class="content">
        <img *ngIf="page.profilePhoto" src="{{page.profilePhoto}}" width="40px" height="40px"
            style="border-radius: 50%;"><span (click)="goToPage()"
            style="font-size: larger; font-weight: bolder;cursor: pointer;">
            {{page.name}}</span>
        <p> {{page.description}}</p>
        <small *ngIf="page.pageLike"> <i class="fa fa-thumbs-up  fa-2x mr-1" aria-hidden="true"
                style="color: grey;"></i> {{page.pageLike.length}} people liked {{page.name}}</small>

        <button [disabled]="page.pageCreatorId == userData.idAccount"
            [ngClass]="getLike() ? 'btn btn-primary btn-block mt-2' : 'btn btn-info btn-block mt-2'"
            (click)="likePageInChild(page)"> <i [ngClass]="getLike() ? 'fa fa-rss mr-1 ' : 'fa fa-rss mr-1'"
                aria-hidden="true">
            </i> {{ getLike() ? 'unfollow' : 'follow' }}</button>
    </div>
</div>