<div class="container">
  <form [formGroup]="resetPasswordForm">
    <div>
      <mat-form-field appearance="legacy" style="width: 100%; ">
        <mat-label>Email</mat-label>
        <mat-icon matSuffix>email</mat-icon>
        <input type="email" matInput formControlName="password" [class.is-invalid]="
            resetPasswordForm.get('email').invalid &&
            resetPasswordForm.get('email').touched
          " />
      </mat-form-field>
      <mat-form-field appearance="legacy" style="width: 100%; ">
        <mat-label>Password</mat-label>
        <mat-icon matSuffix>https</mat-icon>
        <input type="password" matInput formControlName="password" [class.is-invalid]="
            resetPasswordForm.get('password').invalid &&
            resetPasswordForm.get('password').touched
          " />
      </mat-form-field>
      <small class="text-danger" *ngIf="
            resetPasswordForm.get('password').errors?.required &&
            resetPasswordForm.get('password').touched
          ">
        this field is required
      </small>
      <small class="text-danger" *ngIf="
            resetPasswordForm.get('password').errors?.email &&
            resetPasswordForm.get('password').touched
          ">
        invalid password
      </small>

      <mat-form-field appearance="legacy" style="width: 100%;">
        <mat-label>Confirm Password </mat-label>
        <mat-icon matSuffix>https</mat-icon>
        <input type="password" matInput formControlName="confirmPassword" />
      </mat-form-field>
      <!-- <div class="check-box">
          <mat-checkbox (click)="showThePassword()">show
            password
          </mat-checkbox>
          <br>
            </div> -->
    </div>
    <small class="text-danger" *ngIf="
            resetPasswordForm.get('confirmPassword').errors?.required &&
            resetPasswordForm.get('confirmPassword').touched
          ">
      this field is required
    </small>
    <p class="text-danger">

    </p>


    <button *ngIf="!loading" color="primary" style="margin-top:4px;" style="width: 100%;" mat-flat-button
      [disabled]="!resetPasswordForm.valid" (click)="resetThePassword()">

      confirm reset password</button>
  </form>
</div>