<div class="container">
    <form [formGroup]="resetPasswordForm">
        <div>
            <mat-form-field appearance="legacy" style="width: 100%; ">
                <mat-label>tempPassword</mat-label>
                <mat-icon matSuffix>https</mat-icon>
                <input type="password" matInput formControlName="tempPassword" [class.is-invalid]="
              resetPasswordForm.get('tempPassword').invalid &&
              resetPasswordForm.get('tempPassword').touched
            " />
            </mat-form-field>
            <mat-form-field appearance="legacy" style="width: 100%; ">
                <mat-label>new password</mat-label>
                <mat-icon matSuffix>https</mat-icon>
                <input type="password" matInput formControlName="password" [class.is-invalid]="
              resetPasswordForm.get('password').invalid &&
              resetPasswordForm.get('password').touched
            " />
            </mat-form-field>
            <small class="text-danger" *ngIf="
              resetPasswordForm.get('password').errors?.required &&
              resetPasswordForm.get('password').touched
            ">
                this field is required
            </small>
            <small class="text-danger" *ngIf="
              resetPasswordForm.get('password').errors?.email &&
              resetPasswordForm.get('password').touched
            ">
                invalid password
            </small>

            <mat-form-field appearance="legacy" style="width: 100%;">
                <mat-label>Confirm new Password </mat-label>
                <mat-icon matSuffix>https</mat-icon>
                <input type="password" matInput formControlName="confirmPassword" />
            </mat-form-field>
            <!-- <div class="check-box">
            <mat-checkbox (click)="showThePassword()">show
              password
            </mat-checkbox>
            <br>
              </div> -->
        </div>
        <small class="text-danger" *ngIf="
              resetPasswordForm.get('confirmPassword').errors?.required &&
              resetPasswordForm.get('confirmPassword').touched
            ">
            this field is required
        </small>
        <p class="text-danger">

        </p>

        <p class="text-danger" *ngIf="errorPhrase">{{errorPhrase}}</p>
        <button *ngIf="!loading" color="primary" style="margin-top:4px;" style="width: 100%;" mat-flat-button
            [disabled]="!resetPasswordForm.valid" (click)="checkTempPassword()">

            confirm reset password</button>
    </form>
    <!-- <button mat-flat-button [disabled]="!tempPassword" (click)="checkTempPassword()">reset password</button> -->
</div>