.main {
  background-color: transparent;
  border-radius: 8px;
  width: 350px;
  height: 305px;
  animation: bounceInDown;
  animation-duration: 1s;
}

input {
  animation: bounceInDown;
  animation-duration: 1s;
}

button {
  position: relative;
  animation-name: bounceInUp;
  animation-duration: 2s;
}

.field-error {
  animation: shakeX;
  margin-top: 10px;
  animation-duration: 1s;
}

small {
  margin-top: 0px;
  font-weight: bold;
}

.check-box {
  margin-top: -20px;
  margin-left: 10px;
  font-size: small;
}
