<div class="container-fluid">
  <div class="container" *ngIf="!resetPasswordActive">
    <form [formGroup]="signInForm">
      <div [class]="fieldError ? 'field-error':'form-group'">
        <mat-form-field appearance="legacy" style="width: 100%; ">
          <mat-label>Email</mat-label>
          <mat-icon matSuffix>email</mat-icon>
          <input type="email" matInput formControlName="email" [class.is-invalid]="
          signInForm.get('email').invalid &&
          signInForm.get('email').touched
        " />
        </mat-form-field>
        <small class="text-danger" *ngIf="
          signInForm.get('email').errors?.required &&
          signInForm.get('email').touched
        ">
          this field is required
        </small>
        <small class="text-danger" *ngIf="
          signInForm.get('email').errors?.email &&
          signInForm.get('email').touched
        ">
          invalid email
        </small>
        <p *ngIf="forgotPassword">enter the email that u want to reset its password</p>

        <mat-form-field *ngIf="!forgotPassword" appearance="legacy" style="width: 100%;">
          <mat-label>Password </mat-label>
          <mat-icon matSuffix>https</mat-icon>
          <input [type]="showPassword ? 'text' : 'password' " matInput formControlName="password" />
        </mat-form-field>
        <div class="check-box">
          <mat-checkbox *ngIf="!forgotPassword && !resetPasswordActive " (click)="showThePassword()">show
            password
          </mat-checkbox>
          <br>
          <a class="reset" (click)="resetPassword()">{{forgotPassword ? 'reset-password' : 'forgot password'}}</a>
        </div>
      </div>
      <small class="text-danger" *ngIf="
          signInForm.get('password').errors?.required &&
          signInForm.get('password').touched
        ">
        this field is required
      </small>
      <p class="text-danger">
        {{errorPhrase}}
      </p>
      <mat-spinner *ngIf="loading" diameter="30">
      </mat-spinner>
      <button *ngIf="!loading" color="primary" style="margin-top:4px;" style="width: 100%;"
        [disabled]="!signInForm.valid" mat-flat-button [disabled]="!signInForm.valid" (click)="
    signIn(
      signInForm.get('email').value,
      signInForm.get('password').value
      )
      ">

        Log In</button>


    </form>
  </div>
  <app-reset-password *ngIf="resetPasswordActive" (goToLogin)="goToLoginInParent($event)"></app-reset-password>

</div>