<div class="container-fluid ">
  <div *ngIf="userData" class="main">
    <div class="header" style=" color:white;">
      <img src="{{ userData.profilePhoto }}" width="35px" height="35px"
        style="border-radius: 50%;  border: 1px solid white;" />
      welcome {{ userData.firstName }}
    </div>

    <div style="padding: 10px;">
      <div class="item" routerLink="/chat">
        <img src="../../assets/iconfinder_1_Messenger_colored_svg_5296502.png" width="25px"
          style="border-radius: 50%" />
        Messenger
      </div>

      <div class="item">
        <i routerLink="/account-settings" class="fa fa-cogs" aria-hidden="true" style="font-size: x-large;"></i>
        Settings
      </div>
      <div class="item" routerdivnk="/event-com">
        <img src="https://image.shutterstock.com/image-vector/calendar-icon-vector-filled-flat-260nw-1007540575.jpg"
          width="25px" style="border-radius: 50%" />
        <span class="ml-2">Events </span>
      </div>
      <div class="item">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRlm-DsBhHEFoNrSfONxEo_bAHNw-tkmvRcU4zlx_m8LpdUYErR&usqp=CAU"
          width="25px" style="border-radius: 50%" />
        <span class="ml-2">Videos </span>
      </div>
      <br />
      <button style="background-color: divghtgray" class="btn btn-info btn-block">
        See More
      </button>
    </div>

  </div>
</div>