li {
  margin-top: 20px;
  outline: none;
}
li:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

small:hover {
  text-decoration: underline;
}

span {
  outline: none;
}

body {
  background-color: whitesmoke;
}
