li {
  margin-top: 20px;
  outline: none;
}
li:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

small:hover {
  text-decoration: underline;
}

span {
  outline: none;
}

body {
  background-color: whitesmoke;
}
.main {
  border: 1px solid;
  border-radius: 9px;
  padding: 10px;
  box-shadow: 2px 3px 4px 2px #888888;
}
