.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 1;
  overflow: hidden;
  z-index: -1;
}

body {
  background-color: whitesmoke;
}

.container {
  border: 1px solid black;
  height: 150px;
  /* padding: 25px;
  background-repeat: no-repeat;
  background-size: auto; */
}

/* .img {
  display: block;
  width: 50vw;
  height: 50vh;
  object-fit: cover;
} */
