<div class="row mt-2">
  <div class="col-3 ml-3">
    <app-side-bar></app-side-bar>
  </div>
  <div
    class="cold-md-4 ml-3"
    style="background-color: lightgrey; height: 670px; border-radius: 9px;"
  >
    <div class="container-fluid">
      <div
        class="container"
        style="width: 550px; height: 140px; border-radius: 10px;"
        [ngStyle]="{ 'background-image': 'url(' + coverPhoto + ')' }"
      >
        <input
          type="file"
          (change)="changeCoverPhoto($event)"
          name="cover"
          id="cover"
          class="inputfile"
        />
        <label
          style="
            cursor: pointer;
            border: thin;
            background-color: whitesmoke;
            border: 8px;
            border-radius: 8px;
          "
          for="cover"
        >
          change cover Photo
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </label>

        <br />
        <br />
        <div class="text-center">
          <img
            class="mt-5"
            src="{{ foto() }}"
            width="120px"
            height="120px"
            style="border-radius: 50%;"
          />
        </div>
      </div>
      <br />
      <input
        type="file"
        (change)="newImage($event)"
        name="file"
        id="file"
        class="inputfile"
      />
      <label style="margin-left: 200px; cursor: pointer;" for="file">
        <img
          src="https://cdn.pixabay.com/photo/2017/02/07/02/16/cloud-2044823_960_720.png"
          width="30px"
          height="30px"
          class="mt-4"
          style="border-radius: 50%; margin-left: 20px;"
        />
      </label>
      <form [formGroup]="changeEssentialData">
        <div class="row">
          <div class="col-md-4 mt-5 ml-5">
            <label>Name</label>
            <input
              type="text"
              formControlName="name"
              class="form-control"
              [class.is-invalid]="
                changeEssentialData.get('name').errors?.required &&
                changeEssentialData.get('name').touched
              "
            />
            <small
              class="text-danger"
              *ngIf="
                changeEssentialData.get('name').errors?.required &&
                changeEssentialData.get('name').touched
              "
            >
              this.field is required
            </small>
          </div>
          <div class="col-md-4 mt-5 ml-5">
            <label>last Name</label>
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              [class.is-invalid]="
                changeEssentialData.get('lastName').errors?.required &&
                changeEssentialData.get('lastName').touched
              "
            />
            <small
              class="text-danger"
              *ngIf="
                changeEssentialData.get('lastName').errors?.required &&
                changeEssentialData.get('lastName').touched
              "
            >
              this.field is required
            </small>
          </div>
        </div>
        <br />

        <label>email</label>
        <input
          type="email"
          formControlName="email"
          placeholder="insert new email "
          class="form-control col-sm-5"
          [class.is-invalid]="
            changeEssentialData.get('email').invalid &&
            changeEssentialData.get('email').touched
          "
        />

        <small
          class="text-danger"
          *ngIf="
            changeEssentialData.get('email').errors?.required &&
            changeEssentialData.get('email').touched
          "
        >
          this.field is required
        </small>
        <small
          class="text-danger"
          *ngIf="
            changeEssentialData.get('email').errors?.email &&
            changeEssentialData.get('email').touched
          "
        >
          invalid email
        </small>
        <br />
        <label>password</label>
        <input
          type="password"
          formControlName="newPassword"
          placeholder="insert new password "
          class="form-control col-sm-5"
          [class.is-invalid]="
            changeEssentialData.get('newPassword').invalid &&
            changeEssentialData.get('newPassword').touched
          "
        />

        <small
          class="text-danger"
          *ngIf="
            changeEssentialData.get('newPassword').errors?.required &&
            changeEssentialData.get('newPassword').touched
          "
        >
          this.field is required
        </small>
        <small
          class="text-danger"
          *ngIf="
            changeEssentialData.get('newPassword').errors?.minlength &&
            changeEssentialData.get('newPassword').touched
          "
        >
          password should be longer than 6 characters</small
        >
        <br />
        <label>confirm password</label>
        <input
          type="password"
          formControlName="confirmNewPassword"
          class="form-control col-sm-5"
          placeholder="confirm new password"
          [class.is-invalid]="
            changeEssentialData.get('confirmNewPassword').invalid &&
            changeEssentialData.get('confirmNewPassword').touched
          "
        />
        <small
          class="text-danger"
          *ngIf="
            changeEssentialData.get('confirmNewPassword').errors?.required &&
            changeEssentialData.get('confirmNewPassword').touched
          "
        >
          this.field is required
        </small>
        <small
          class="text-danger"
          *ngIf="
            changeEssentialData.get('confirmNewPassword').errors
              ?.changePasswordError &&
            changeEssentialData.get('confirmNewPassword').touched
          "
        >
          not identical to the new password
        </small>
      </form>
    </div>
  </div>
  <div
    class="col-md-3 ml-3"
    style="background-color: lightgrey; height: 400px; border-radius: 8px;"
  >
    <form [formGroup]="changePersonalData">
      <label
        >studied at <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      </label>
      <input
        type="text"
        formControlName="study"
        placeholder="Ex: University of Riot"
        class="form-control"
      />
      <label>went to <i class="fa fa-university" aria-hidden="true"></i></label>
      <input
        type="text"
        formControlName="wentTo"
        placeholder="Ex: High School of Riot"
        class="form-control"
      />
      <label>lives in <i class="fa fa-home" aria-hidden="true"></i></label>
      <input
        type="text"
        formControlName="livesIn"
        placeholder="Ex: Turin, Italy"
        class="form-control"
      />
      <label>from <i class="fa fa-map-marker" aria-hidden="true"></i></label>
      <input
        type="text"
        formControlName="from"
        placeholder="Ex: Syria"
        class="form-control"
      />
    </form>
    <br />
    <button
      [disabled]="!changeEssentialData.valid"
      class="btn btn-primary btn-block"
      (click)="confirm()"
    >
      confirm
    </button>
  </div>
</div>
