<div class="container-fluid" *ngIf="page">
    <div class="container-fluid">
        <div style="width: 100%; height: 250px; margin-top: 80px;">
            <img src="{{page.coverPhoto}}" width="100%" height="100%"
                style="border: 1px solid black; border-radius: 8px;">
        </div>
        <div
            style="border-radius: 50%;  border: 5px solid white; width: 150px; ; height:150px ; margin-top: -100px; margin-left: 10px;">
            <img src="{{ page.profilePhoto}}" width="100%" height="100%"
                style="border-radius: 50%; border: 2px solid white;" />
        </div>
        <button class="btn btn-outline-dark btn-md" *ngIf="isAdmin" (click)="openEditPage()"
            style="float: right;margin-right: 250px;">
            edit page </button>
        <div style="width: fit-content;
        margin-left: 137px;
        margin-top: -44px;">
            <h1>{{page.name}}</h1>
            <p style=" color:grey">{{page.description}}</p>
        </div>
    </div>
    <div class="row mt-4" style="background-color: whitesmoke;">
        <div class="col-md-3" style=" margin-top: 10px;">
            <app-what-on-mind *ngIf="page.pageCreatorId == userData.idAccount" [page]="page"
                (createPost)="openDiv($event)">
            </app-what-on-mind>

            <div class="main" *ngIf="page" style="margin-top: 20px;">
                <!-- <div class="header">
                    About
                </div> -->
                <h3>About</h3>
                <div class="content">
                    <p>
                        <i class="fa fa-info-circle fa-2x" aria-hidden="true" style="color: grey;"></i>
                        {{ page.description }}
                    </p>
                    <p><i class="fa fa-thumbs-up  fa-2x mr-1" aria-hidden="true" style="color: grey;"></i> {{
                        page.pageLike.length }} peolpe liked
                        this</p>
                </div>
            </div>
        </div>
        <div class="col-md-5 mt-1" *ngIf="page.posts && page.posts.length > 0 " style="background-color: white; ">
            <div class="scrollable-element" style="overflow-y: scroll; overflow-x: hidden; height: 450px;">
                <app-posts-container [isAdmin]="isAdmin" [posts]="page.posts" [page]="page" [status]="status">
                </app-posts-container>
            </div>
        </div>
        <div class="col-md-4">
            <app-account-photos [page]="page"></app-account-photos>
        </div>
    </div>

    <app-edit-page [page]="page" *ngIf="editPage && isAdmin" (sendNewPage)="receiveNewPage($event)"
        (closeEditPage)="closeEditPage($event)"></app-edit-page>
</div>