.dropdown-menu {
  width: max-content;
  height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.61);
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
}

i {
  color: white;
  font-size: x-large;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 7px;
}

.icon:hover {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 7px;
  background-color: violet;
}
