<div *ngIf="relations" class="dropdown">
    <div class="icon" id=" dropdownMenuButton" data-toggle="dropdown">

        <i class="fa fa-user-plus" aria-hidden="true" type="button" aria-haspopup="true" aria-expanded="false">

            <span style="color:white;padding-left: 2px; font-size: medium;"
                *ngIf="relations.length > 0">{{relations.length}} </span>
        </i>
    </div>

    <div class="dropdown-menu" aria-labelledby=" dropdownMenuButton">
        <p *ngIf=" relations.length==0" class="font-weight-bold"> no new friend requests </p>
        <div *ngFor="let relation of relations">
            <li *ngIf="relation.doneBy" class="dropdown-item " style="font-size: small; cursor: pointer;">
                <img src="{{ relation.doneBy.profilePhoto}}" width="30px" height="30px" style="border-radius: 50%">
                <span class="font-weight-bold">
                    {{relation.doneBy.firstName + " " + relation.doneBy.lastName}}
                </span>
                sent u a friend request
                <p>
                    <button (click)="respondFriendRequest(relation , 1)" class="btn btn-primary btn-sm mt-3"
                        style="font-size: x-small;">Accept
                    </button>
                    <button (click)="respondFriendRequest(relation , 2)" class="btn btn-danger btn-sm ml-2 mt-3"
                        style="font-size: x-small;">Decline</button>
                </p>
            </li>
            <hr>
        </div>
    </div>
</div>