<div *ngIf="relations" style="float: right; margin-left: 10px;" class="dropdown">

    <i class="fa fa-users" aria-hidden="true" type="button" id=" dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">

    </i>
    <span style="color:white;padding-left: 2px;" *ngIf="relations.length > 0">{{relations.length}} </span>

    <div class="dropdown-menu" aria-labelledby=" dropdownMenuButton">
        <p *ngIf=" relations.length==0" class="font-weight-bold"> no new friend requests </p>
        <div *ngFor="let relation of relations">
            <li *ngIf="relation.doneBy" class="dropdown-item " style="font-size: small; cursor: pointer;">
                <img src="{{    relation.doneBy.profilePhoto}}" width="30px" style="border-radius: 50%">
                <span class="font-weight-bold">
                    {{relation.doneBy.firstName + " " + relation.doneBy.lastName}}
                </span>
                sent u a friend request
                <p>
                    <button (click)="respondFriendRequest(relation.idRelationship , 1)"
                        class="btn btn-primary btn-sm mt-3" style="font-size: x-small;">Accept
                    </button>
                    <button (click)="respondFriendRequest(relation.idRelationship , 2)"
                        class="btn btn-danger btn-sm ml-2 mt-3" style="font-size: x-small;">Decline</button>
                </p>
            </li>
            <hr>
        </div>
    </div>
</div>