#sent {
  animation-name: example;
  animation-duration: 1s;
  color: black;
  font-size: large;
}

@keyframes example {
  from {
    opacity: 1.5;
  }
  to {
    opacity: 0;
  }
}
span:hover {
  cursor: pointer;
}

.the-friend-1 {
  padding: 10px;
  background-color: white;
}

.the-friend-2 {
  padding: 10px;
  background-color: lightgray;
}
