#sent {
  animation-name: example;
  animation-duration: 1s;
  color: black;
  font-size: large;
}

@keyframes example {
  from {
    opacity: 1.5;
  }
  to {
    opacity: 0;
  }
}

.the-friend {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.the-friend:hover {
  background-color: whitesmoke;
  cursor: pointer;
  border-radius: 10px;
}
.container-fluid {
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 8px;
}
.container-fluid:hover {
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 8px;
}
