<div class="container-fluid">
    <div class="main" style="background: white;">
        <div class="header">
            <div class="mat-headline" style="color: white;">Photos <i class="fa fa-picture-o ml-1"
                    aria-hidden="true"></i>
            </div>
        </div>
        <div class="container">
            <mat-grid-list *ngIf="photos"
                cols="{{(photos.length % 2 != 0) ? photos.length -1 :  ( photos.length / 2 ) + 1 }}">
                <div *ngFor="let image of photos; let i =index">
                    <mat-grid-tile><img src="{{image}}" width="80%" height="80%" (click)="openImage(image)"
                            style="cursor: pointer;"></mat-grid-tile>
                </div>
            </mat-grid-list>
        </div>
    </div>
</div>