<div class="main">
    <div class="header">
        <h4 style="color: white; padding: 6px;">Photos</h4>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="column" *ngFor="let image of photos; let i = index">
                <img *ngIf="image" src="{{image}}" width="130px" height="130px"
                    style="margin-left: 10px; padding: 10px; cursor: pointer;" (click)="openImage(image)">
            </div>
        </div>
    </div>
</div>

<app-photo-viewer [image]="image"></app-photo-viewer>