.header {
  width: 100%;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom: 1px solid black;
  height: 60px;
  padding: 10px;
  background-color: #926dde;
}

.main {
  margin-top: 10px;
  margin-left: 10px;
  /* border: 1px solid; */
  border-radius: 9px;
  /* padding: 10px; */
  /* box-shadow: 1px 1px 1px 1px #888888; */
}
.container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 250px;
  padding: 10px;
}

/* .container-fluid {
  /* animation: fadeInUp;
  animation-duration: 0.8s; */

::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.61);
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
}

mat-grid-tile {
  background-color: lightblue;
}
