<div class="container-fluid">
    <div class="row" style="margin-top:70px;" *ngIf="userData && myRelationships">
        <div class="col-md-3">
            <img src="{{ userData.profilePhoto}}" width="50px" height="50px" style="border-radius: 50%" /> <span
                class="font-weight-bold"> Chats</span>
            <hr>
            <div *ngFor="let relation of myRelationships">
                <div (click)="chatWith(relation.doneBy)" class="friend" *ngIf="relation.doneBy">
                    <img src="{{relation.doneBy.profilePhoto}}" width="55px" height="55px" style="border-radius: 50%" />
                    <span class="font-weight-bold">
                        {{relation.doneBy.firstName +" " + relation.doneBy.lastName }}</span>
                </div>

            </div>
        </div>

        <div *ngIf="wantedUser" class="col-9" style=" background-color: whitesmoke; height: max-content; padding: 0px;">
            <div
                style="border-bottom: 1px solid black; height: 120px; border-left: 1px solid black; background-color: white; padding: 10px;">
                <img src="{{wantedUser.profilePhoto}}" width="80px" height="80px" style="border-radius: 50%;" />
                <span style="font-size: x-large; margin-left: 20px; font-weight:bolder; margin-top: 10px;">
                    {{wantedUser.firstName + " "+ wantedUser.lastName}}
                </span>

            </div>
            <div class="scrollable-element">
                <ul *ngFor="let conv of myConvWith">
                    <div [class]="(conv.idSender == wantedUser.idAccount )? 'receiver' :'sender' "><span>
                            <img *ngIf="conv.idSender == wantedUser.idAccount" src="{{   wantedUser.profilePhoto}}"
                                width="30px" height="30px" style="border-radius: 50%;" />
                            <img *ngIf="conv.idSender != wantedUser.idAccount" src="{{    userData.profilePhoto}}"
                                width="30px" height="30px" style="border-radius: 50%;" />{{conv.message}}</span>
                        <p style="color: grey; font-size: small; ">{{conv.date |  date:'dd/MM  hh:mm' : 'UTC'}} </p>
                    </div>
                </ul>
                <ul *ngFor="let chatMessage of webSocketService.chatMessages">
                    <div *ngIf="chatMessage.idSender == userData.idAccount && chatMessage.idReceiver == wantedUser.idAccount || chatMessage.idReceiver == userData.idAccount && chatMessage.idSender == wantedUser.idAccount"
                        [class]="(chatMessage.idSender == wantedUser.idAccount )? 'receiver' :'sender' "><span>
                            <img *ngIf="chatMessage.idSender == wantedUser.idAccount"
                                src="{{   wantedUser.profilePhoto}}" width="30px" height="30px"
                                style="border-radius: 50%;" />
                            <img *ngIf="chatMessage.idSender != wantedUser.idAccount" src="{{   userData.profilePhoto}}"
                                width="30px" height="30px" style="border-radius: 50%;" />
                            {{chatMessage.message}}
                        </span>
                        <p style="color: grey; font-size: small; ">{{chatMessage.date |  date:'dd/MM  hh:mm' : 'UTC'}}
                        </p>
                    </div>
                </ul>
                <hr #target style="margin-top: 70px; opacity:0.1;">
            </div>
            <div style="padding: 10px; background-color: white;  display: flex;
        align-items: center;
        justify-content: left;
        border-left: 1px solid black;
         ">
                <img src="{{ userData.profilePhoto}}" width="50px" height="50px" style="border-radius: 50%;" />
                <div class="col-md-9"> <input class="form-control" (keydown.enter)="sendMessage(message , target)"
                        [(ngModel)]="message" type="text"> </div><button class="btn btn-outline-success btn-xs ml-2"
                    (click)="sendMessage(message , target)"><i class="fa fa-paper-plane" style="font-size: medium;"
                        aria-hidden="true"></i></button>
            </div>
        </div>



    </div>
</div>