<div class="container-fluid" *ngIf="userData && loggedInUserData">
    <div class="main" style="padding: 10px;">
        <h4 style="font-weight: bold; margin-bottom: 20px;">Intro</h4>

        <p>
            <i class="fa fa-graduation-cap fa-lg mr-1" aria-hidden="true" style="color: gray;"></i> studied at
            <span>{{ userData?.study }}</span>
        </p>
        <p>
            <i class="fa fa-university fa-lg mr-1" aria-hidden="true" style="color: gray;"></i> went to
            <span> {{ userData.wentTo }}</span>
        </p>
        <p>
            <i class="fa fa-map-marker fa-2x mr-1" aria-hidden="true" style="color: gray;"></i> lives in
            <span> {{ userData.livesIn }}</span>
        </p>
        <button *ngIf="userData.idAccount == loggedInUserData.idAccount" style="background-color: lightgrey;"
            class="btn btn-outline  btn-block mt-2" (click)="goToEditing() ">
            edit details</button>

    </div>
</div>