#event-pic {
  width: 100%;
  height: 200px;
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
}

#event:hover {
  background-color: white;
  cursor: pointer;
}

#event {
  background-color: lightgrey;
  border-radius: 9px;
  height: fit-content;
}
