<div class="row mt-1">
  <div class="col-md-2 ml-4" style="border-right: solid;">
    <app-side-bar></app-side-bar>
  </div>
  <div class="col-md-3" *ngFor="let event of events">
    <div id="event" class="container-fluid">
      <div
        id="event-pic"
        [ngStyle]="{ 'background-image': 'url(' + event.image + ')' }"
      ></div>
      <p>Happening now</p>
      <p style="font-weight: bold; font-size: large;">
        {{ event.text }}
      </p>
      <hr />
      <div class="row">
        <div class="col-md-3 ml-2">
          <span style="text-decoration: underline;">going</span>
          <br />
          <p class="ml-1" style="font-weight: bolder; font-size: large;">
            {{ event.going[0].number }}
          </p>
        </div>
        <div class="col-md-4 ml-2">
          <span style="text-decoration: underline;">interested</span>
          <br />
          <p class="ml-4" style="font-weight: bolder; font-size: large;">
            {{ event.interested[0].number }}
          </p>
        </div>

        <div class="col-md-4">
          <span style="text-decoration: underline;">not interested</span>
          <br />
          <p class="ml-5" style="font-weight: bolder; font-size: large;">
            {{ event.notInterested[0].number }}
          </p>
        </div>
      </div>
      <hr />
      <span>
        <button
          [disabled]="
            event.interested[0].clicked || event.notInterested[0].clicked
          "
          *ngIf="!event.going[0].clicked"
          type="button"
          class="btn btn-light ml-1"
          (click)="going(event.id)"
        >
          <i class="fa fa-check" aria-hidden="true"></i>

          going
        </button>
        <button
          *ngIf="event.going[0].clicked"
          type="button"
          class="btn btn-primary ml-1"
          (click)="going(event.id)"
        >
          <i class="fa fa-check-circle" aria-hidden="true"></i>
          going
        </button>

        <button
          [disabled]="event.going[0].clicked || event.notInterested[0].clicked"
          *ngIf="!event.interested[0].clicked"
          type="button"
          class="btn btn-light ml-1"
          (click)="interested(event.id)"
        >
          <i class="fa fa-star-o" aria-hidden="true"></i>

          interested
        </button>
        <button
          *ngIf="event.interested[0].clicked"
          type="button"
          class="btn btn-success ml-1"
          (click)="interested(event.id)"
        >
          <i class="fa fa-star" aria-hidden="true"></i>
          interested
        </button>
        <button
          [disabled]="event.going[0].clicked || event.interested[0].clicked"
          *ngIf="!event.notInterested[0].clicked"
          type="button"
          class="btn btn-light ml-1"
          (click)="notInterested(event.id)"
        >
          <i class="fa fa-ban" aria-hidden="true"></i>

          not interested
        </button>
        <button
          *ngIf="event.notInterested[0].clicked"
          type="button"
          class="btn btn-danger ml-1"
          (click)="notInterested(event.id)"
        >
          <i class="fa fa-ban" aria-hidden="true"></i>
          not interested
        </button>
      </span>

      <button type="button" class="btn btn-light btn-block mt-2">
        View details
      </button>
      <br />
    </div>
  </div>
  <div class="col-md-2">
    <!-- <app-my-friends></app-my-friends> -->
  </div>
</div>
