<div class="container-fluid">
    <span *ngIf="userData && !page">
        <img src="{{userData.profilePhoto}}" width="50px" height="50px" style="border-radius: 50%; " />
        <input *ngIf="requestedUser" (click)="openDiv()" class="whatsInput"
            placeholder="leave a post for {{requestedUser.firstName}}" />
        <input *ngIf="!requestedUser" (click)="openDiv()" class="whatsInput"
            placeholder="what's on your mind {{userData.firstName}}" />
    </span>
    <span *ngIf="page && userData.idAccount == page.pageCreatorId ">
        <img src="{{page.profilePhoto}}" width="50px" height="50px" style="border-radius: 50%; " />
        <input (click)="openDiv()" class="whatsInput" placeholder="start a post " />
    </span>
    <hr />
    <span style="color: red" class="font-weight-bold">
        <i class="fa fa-video-camera" aria-hidden="true"></i> live video</span><span style="color: green"
        class="font-weight-bold ml-4">
        <i class="fa fa-picture-o" aria-hidden="true"></i> photos</span>
    <span style="color: blue" class="font-weight-bold ml-4">
        <i class="fa fa-calendar" aria-hidden="true"></i> events</span>
</div>