.col-md-6 {
  padding: 10px;
  background-color: white;
  margin: 10px auto 0px auto;
  border-radius: 10px;
  border: 1px solid;
  box-shadow: 1px 1px 1px 1px #888888;
}

.whatsInput {
  margin-left: 5px;
  cursor: pointer;
  width: 70%;
  border-radius: 10px;
  background-color: lightgray;
  border-style: none;
  outline: none;
}
.whatsInput:hover {
  background-color: lightcyan;
}
