<br />
<br />
<br />

<div class="container-fluid">
  <!-- <input #data class="form-control" width="300px" /> -->
  <div class="row" *ngFor="let friend of users">
    <div *ngIf="id === users.indexOf(friend)" class="col-md-3">
      <img
        src="{{ friend.image }}"
        width="100"
        height="100"
        style="border-radius: 50%;"
      />
      <p class="ml-4">{{ friend.name + " " + friend.lastName }}</p>
      <span>
        <input [(ngModel)]="inputData" width="100px" />
      </span>
      <span
        ><button
          [disabled]="inputData == '' || inputData == null"
          class="btn btn-primary btn-sm mb-3 mt-2"
          type="button"
          (click)="sendTo(users.indexOf(friend), inputData)"
        >
          send
        </button></span
      >
    </div>
  </div>
</div>
<!-- (click)="sendMessage(users.indexOf(friend), data)" -->
