.active-class {
  text-decoration: underline;
}

#messenger:hover {
  text-decoration: underline;
}

p {
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from {
    opacity: 1.5;
  }
  to {
    opacity: 0;
  }
}
::-webkit-scrollbar {
  width: 6px; 
   background-color: rgba(0,0,0,0);
  -webkit-border-radius: 80px;
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0,0,0,0.61);
  -webkit-border-radius: 80px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61);
  -webkit-border-radius: 80px;
}