<nav
  *ngIf="userIn()"
  class="navbar navbar-expand-md navbar-dark fixed-top shadow-lg"
  style="height: 72px; border-radius: 10px; background-color: white;"
>
  <img
    src="{{ image() }}"
    width="70px"
    height="70px"
    style="border-radius: 50%;"
  />
  <h4>
    <i
      style="cursor: pointer; color: blue; margin-left: 15px;"
      class="fa fa-home"
      aria-hidden="true"
    >
      <a
        class="font-weight-bold"
        routerLinkActive="active-class"
        routerLink="/home-page"
        >Home page
      </a>
    </i>
  </h4>

  <h4 style="margin-left: 30px;">
    <i
      style="cursor: pointer; color: blue;"
      class="fa fa-cog"
      aria-hidden="true"
    >
      <a
        class="font-weight-bold"
        routerLinkActive="active-class"
        routerLink="/account-settings"
        >account-settings
      </a>
    </i>
  </h4>

  <h4 style="margin-left: 35px;">
    <i
      style="cursor: pointer; color: blue;"
      class="fa fa-user"
      aria-hidden="true"
    >
      <a
        class="font-weight-bold"
        routerLinkActive="active-class"
        routerLink="/user-profile"
        >profile
      </a>
    </i>
  </h4>

  <h4 style="margin-left: 40px;">
    <img
      src="https://apps.shopifycdn.com/listing_images/f83699e125ac913c98279b8d5b392fcd/icon/20d75d229020ddb617d735fd130b357d.png"
      width="25px"
      height="25px"
      style="border-radius: 50%;"
    />
    <a
      id="messenger"
      style="cursor: pointer;"
      class="font-weight-bold"
      routerLinkActive="active-class"
      routerLink="/messenger"
      (click)="navigate()"
      >messenger
    </a>

    <span *ngIf="show" style="color: blue;">
      ({{ getMessengerLength() }})
    </span>
  </h4>

  <h4>
    <button
      type="button"
      style="float: right;"
      class="btn btn-outline-danger ml-5"
      (click)="logOut()"
    >
      log Out
    </button>
  </h4>

  <p *ngIf="message" style="font-size: large; color: black;" class="ml-5">
    your data has been successfully updated
  </p>
</nav>

<router-outlet></router-outlet>
