<nav *ngIf="loggedIn && userData" class="navbar navbar-expand-md navbar-dark sticky-top shadow-lg"
  style="height: 72px; border-radius: 10px; background-color: white">

  <img src="http://localhost:8080/files/{{ userData.profilePhoto }}" width="70px" height="70px"
    style="border-radius: 50%" />

  <h5>
    <i style="cursor: pointer; color: blue; margin-left: 15px" class="fa fa-home" aria-hidden="true">
      <a class="font-weight-bold" routerLinkActive="active-class" routerLink="/home-page">Home page
      </a>
    </i>
  </h5>


  <h5 style="margin-left: 35px">
    <i style="cursor: pointer; color: blue" class="fa fa-user" aria-hidden="true">
      <a class="font-weight-bold" routerLinkActive="active-class" [routerLink]="['/user-profile',userData?.idAccount ]">
        profile
      </a>
    </i>
  </h5>
  <app-friend-request style="margin-left: 275px;"></app-friend-request>

  <app-notification style="margin-left: 10px;"></app-notification>
  <h6>
    <button type="button" style="margin-top: 10px; margin-left: 30px;" class="btn btn-outline-danger btn-sm"
      (click)="logOut()">
      log Out
    </button>
  </h6>
</nav>

<app-edit-post></app-edit-post>
<router-outlet></router-outlet>