.active-class {
  text-decoration: underline;
}

#messenger:hover {
  text-decoration: underline;
}

p {
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from {
    opacity: 1.5;
  }
  to {
    opacity: 0;
  }
}
