.post-container {
  border: 1px solid black;
  text-align: center;
  border-radius: 6px;
  margin: 20px auto 0px auto;
  border: 1px solid;
  width: 600px;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px #888888;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.icon {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  font-size: large;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
  box-shadow: 1px 1px 1px 1px #888888;
}

.icon:hover {
  background-color: whitesmoke;
  transform: scale(1.5);
}
