<div *ngIf="userData" class="container" class="post-container" style="background-color: white;">

  <ng-container *ngIf="post.doneBy && userData">
    <img src="http://localhost:8080/files/{{ post.doneBy.profilePhoto }}" width="50px"
      style="border-radius: 50%; float: left;" height="50px" />
    <span style="float: left;" class="font-weight-bold mt-3">
      {{ post.doneBy.firstName + " " + post.doneBy.lastName }}
      {{post.postOriginalId ? 'reshared' : 'shared'}}: </span>
    <i *ngIf="post.postCreatorId == userData.idAccount" (click)="editPost(post)"
      style="float: right; margin-right: 20px; margin-top: 10px; font-size:large; cursor: pointer;"
      class=" fa fa-pencil" aria-hidden="true"></i>
    <i *ngIf="post.postCreatorId == userData.idAccount"
      style="float: right; color:red; margin-right: 20px; margin-top: 10px; font-size:large; cursor: pointer;"
      (click)=" deletePost(post.idPost)" class="fa fa-trash" aria-hidden="true"></i>
  </ng-container>

  <div (click)="toDescription(post.postOriginalId)"
    *ngIf="post.postOriginalId && post.doneBy && post.originalPostDoneBy"
    style="margin-top: 50px; border: 1px solid black; cursor: pointer; ">
    <div style="margin-top: 10px; float: left;">
      <img *ngIf="post.originalPostDoneBy.profilePhoto"
        src="http://localhost:8080/files/{{ post.originalPostDoneBy.profilePhoto }}" width="50px"
        style="border-radius: 50%;" height="50px" />
      <span class="font-weight-bold">
        {{ post.originalPostDoneBy.firstName + " " + post.originalPostDoneBy.lastName }}
        shared: </span>
    </div>
    <p style="padding-right: 250px; margin-top: 50px;"> {{ post.text }} </p>
    <img *ngIf=" post.image" src="http://localhost:8080/files/{{ post.image }}" style="width: 80%; height: 60%;" />
    <p><i class="fa fa-thumbs-up" aria-hidden="true" style="color: blue"> </i>{{post.likesNumber}}
      <i class="fa fa-comments" aria-hidden="true" style="margin-left: 150px;"></i>{{post.commentsNumber}}</p>

  </div>
  <div style="margin-top: 50px; border: 1px solid black; cursor: pointer; "
    *ngIf="post.postOriginalId && !post.originalPostDoneBy">
    content is unavailabe could be because of its setting was set on private or that it has been deleted
  </div>

  <p class="mt-5" *ngIf="!post.postOriginalId"> {{ post.text }} </p>



  <div class="container" *ngIf="!post.postOriginalId">
    <img *ngIf="post.image" src="http://localhost:8080/files/{{ post.image }}" style="width: 80%; height: 60%;" />

  </div>


  <hr />

  <span><i class="fa fa-thumbs-up" aria-hidden="true" style="color: blue"></i> {{ post.postLikes.length }} </span>
  <span (click)="openComments()" class="font-weight-bold"
    style="margin-left: 140px; cursor: pointer;">{{ post.comments.length }}comments</span>
  <span (click)="goToDescription(post.idPost)"
    style="cursor: pointer; color: blue; font-weight: bold; margin-left: 130px">description</span>
  <hr />

  <button [disabled]="post.postOriginalId && !post.originalPostDoneBy"
    [ngClass]="getLike() ? 'btn btn-primary btn-md col-md-3' : 'btn btn-light btn-md col-md-3'" (click)="like(post)">
    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
    like
  </button>


  <button [disabled]="post.postOriginalId && !post.originalPostDoneBy"
    [ngClass]="getComment() ? 'btn btn-primary btn-md col-md-3 ml-2' : 'btn btn-light btn-md col-md-3 ml-2'"
    (click)="comment(post , commentText)">
    <i class="fa fa-comments" aria-hidden="true"></i>
    comment
  </button>


  <button [disabled]="post.postOriginalId && !post.originalPostDoneBy" (click)="sharePost(post)"
    class="btn btn-light btn-md col-md-3 ml-2">
    <i class="fa fa-share-alt" aria-hidden="true"></i>
    share
  </button>
  <hr>
  <ng-container *ngIf="openCommentsList">
    <div class="container" *ngFor="let c of post.comments">
      <div class="container mt-3"
        style="background-color: whitesmoke; width:350px; height:fit-content; border-radius: 7px;">
        <ng-container *ngIf="c.doneBy">
          <img src="http://localhost:8080/files/{{ c.doneBy.profilePhoto }}" width="20px" style="border-radius: 50%;"
            height="20px" />
          <span class="font-weight-bold">{{c.doneBy.firstName + " " + c.doneBy.lastName }} </span>
          <span *ngIf="!editCommentOn || commentId != c.idComment">{{c.text}}</span>
          <input *ngIf="editCommentOn && commentId == c.idComment" [(ngModel)]="editCommentValue" style="
          width: 120px;
          border-radius: 8px;
          background-color: white;
          border-style: none;
          margin-left: 10px;
          outline: none;" />
          <button [disabled]="!editCommentValue" (click)="confirmEditComment(c)"
            *ngIf="editCommentOn && commentId == c.idComment" class="btn btn-info btn-sm">edit</button>
          <i (click)="editComment(c.text ,c.idComment)" *ngIf="c.commentCreatorId == userData.idAccount"
            style="float: right; color: blue; cursor: pointer;" class="fa fa-pencil fa-xxs" aria-hidden="true"></i>
          <i (click)="deleteComment(c.idComment)" *ngIf="c.commentCreatorId == userData.idAccount"
            style="float: right; color: red; cursor: pointer;" class="fa fa-trash mr-1" aria-hidden="true"></i>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <div style="margin-top: 10px;">
    <img src="http://localhost:8080/files/{{ userData?.profilePhoto }}" width="40px" height="40px"
      style="border-radius: 50%" />
    <input [(ngModel)]="commentText" placeholder="write a comment" style="
          width: 320px;
          border-radius: 8px;
          background-color: lightgray;
          border-style: none;
          margin-left: 10px;
          outline: none;
        " />
  </div>

</div>