<div flexLayout="column" class="post" *ngIf="userData">

  <ng-container *ngIf="post.doneBy || post.doneByPage">

    <span class="font-weight-bold mt-1" style="float: left;">
      <img [src]=" post.doneBy ?  post.doneBy.profilePhoto :  post.doneByPage.profilePhoto " class="profile-photo" />
      <span> {{ post.doneBy ? post.doneBy.firstName + " " + post.doneBy.lastName : post.doneByPage.name }} {{
        post.postedOn ?
        '':'shared'}}</span>
      <p style="color:gray ; font-size: x-small; margin-left: 70px; margin-top: -17px;">
        {{post.date}} .
        <i *ngIf="post.status == 0" class="fa fa-globe" aria-hidden="true"></i>
        <i *ngIf="post.status == 1" class="fa fa-users" aria-hidden="true"></i>
        <i *ngIf="post.status == 2" class="fa fa-lock" aria-hidden="true"></i>
      </p>
    </span>
    <span style="float: left;" *ngIf="post.postedOn && post.postedOnData">
      <i style="padding: 10px; margin-top: 10px;" class="fa fa-caret-right fa-lg" aria-hidden="true"></i>
      <img src="{{ post.postedOnData.profilePhoto }}" class="profile-photo" />
      {{post.postedOnData.firstName + " " + post.postedOnData.lastName}}
    </span>


    <div *ngIf="userData.idAccount == post.postCreatorId || page &&  userData.idAccount == page.pageCreatorId">
      <mat-menu #dropDown="matMenu" xPosition="before" yPosition="below">
        <button
          *ngIf="post.postCreatorId == userData.idAccount && !post.postOriginalId || page &&  userData.idAccount == page.pageCreatorId"
          mat-menu-item (click)="editPost(post)">
          <mat-icon color="primary">create</mat-icon>
          Edit
        </button>
        <button mat-menu-item (click)=" deletePost(post)">
          <mat-icon color="warn">delete</mat-icon>Delete
        </button>
      </mat-menu>
      <mat-icon [matMenuTriggerFor]="dropDown" class="three-dots">more_horiz
      </mat-icon>

    </div>

    <p *ngIf="post.text && !post.postOriginalId" class="post-text">
      {{post.text}}</p>
    <p *ngIf="post.extraText" class="post-text">{{post.extraText}}</p>
    <div *ngIf="post.postOriginalId && !post.originalPostDoneBy && post.doneBy && !post.originalPostDoneByPage"
      style="  border: 1px solid black;">
      content is unavailabe could be because of its setting was set on private or that it has been deleted
    </div>
    <img *ngIf="post.image && !post.postOriginalId" src="{{ post.image }}" class="post-image" />
    <div *ngIf="post.postOriginalId  && post.originalPostDoneBy || post.originalPostDoneByPage"
      (click)="toDescription(post.postOriginalId)" class="shared-post-container">
      <div style="margin-top: 10px; float: left;">
        <img
          [src]=" post.originalPostDoneBy ? post.originalPostDoneBy.profilePhoto : post.originalPostDoneByPage.profilePhoto "
          class="profile-photo" />
        <span class="font-weight-bold">
          {{ post.originalPostDoneBy ? post.originalPostDoneBy.firstName + " " + post.originalPostDoneBy.lastName :
          post.originalPostDoneByPage.name }}
          shared: </span>
      </div>
      <p class="post-text"> {{ post.text }} </p>
      <img *ngIf="post.image" src="{{  post.image }}" class="post-image" />
      <p><i class="fa fa-thumbs-up" aria-hidden="true">
        </i>{{post.likesNumber}}
        <i class="fa fa-comments" aria-hidden="true" style="margin-left: 150px;"></i>{{post.commentsNumber}}
      </p>
    </div>
  </ng-container>

  <hr />
  <div flexLayout="row" fxLayoutAlign="space-evenly center">
    <div fxFlex.lg="20">
      <span> <i class="fa fa-thumbs-up fa-lg" aria-hidden="true" style="color: blue"> {{ post.postLikes.length
          }}</i></span>
    </div>
    <div fxFlex.lg="20">
      <span (click)=" openComments()" class="font-weight-bold " style="cursor: pointer;">{{
        post.comments.length }}comments</span>
    </div>
    <div fxFlex.lg="20">
      <span (click)="toDescription(post.idPost)"
        style="cursor: pointer; color: blue; font-weight: bold;">description</span>
    </div>
  </div>



  <hr />


  <div flexLayout="row" fxLayoutAlign="space-evenly center">
    <div fxFlex.lg="20">
      <button
        [disabled]="post.postOriginalId && !post.originalPostDoneBy && !post.originalPostDoneByPage || status != 'friends' || page  && !pageLike  "
        (click)="like(post)" mat-flat-button color="{{likedByMe ? 'primary' : 'basic'}}">
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        like
      </button>
    </div>
    <div fxFlex.lg="20">
      <button
        [disabled]="post.postOriginalId && !post.originalPostDoneBy && !post.originalPostDoneByPage || status != 'friends' || page &&  page.pageCreatorId != userData.idAccount && !pageLike  "
        mat-flat-button color="{{iCommented ? 'primary' : 'basic'}}" (click)="comment(post , commentText)">
        <i class="fa fa-comments" aria-hidden="true"></i>
        comment
      </button>
    </div>
    <div fxFlex.lg="20">
      <button mat-flat-button color="basic"
        [disabled]="post.postOriginalId || post.postCreatorId == userData.idAccount || post.postedOn || status != 'friends' || page &&  userData.idAccount == page.pageCreatorId || page && !pageLike"
        (click)="sharePost(post)">
        <i class="fa fa-share-alt" aria-hidden="true"></i>
        share
      </button>
    </div>
  </div>
  <hr>
  <ng-container *ngIf="openCommentsList">
    <div class="container-fluid" *ngFor="let comment of post.comments">
      <div *ngIf="comment.doneBy || comment.doneByPage" class="container-fluid mt-3" style=" display: flex;
        align-items: flex-start;
        justify-content: left;
         ">
        <img [src]="comment.doneBy? comment.doneBy.profilePhoto : comment.doneByPage.profilePhoto"
          class="profile-photo" />
        <div class="container-fluid" style="background-color: lightblue; border-radius: 8px; padding: 5px;">
          <div
            *ngIf="comment.commentCreatorId == userData.idAccount ||  page && !comment.commentCreatorId && page.pageCreatorId == userData.idAccount  "
            class="icon">
            <i (click)="editComment(comment.text ,comment.idComment)" style="color: blue; cursor: pointer;"
              class="fa fa-pencil fa-xxs" aria-hidden="true"></i>
          </div>
          <div
            *ngIf="  comment.commentCreatorId == userData.idAccount ||  page && !comment.commentCreatorId && page.pageCreatorId == userData.idAccount  "
            class="icon">
            <i (click)="deleteComment(comment.idComment)" style="color: red; cursor: pointer;" class="fa fa-trash"
              aria-hidden="true"></i>
          </div>
          <i [ngClass]=" getCommentLike(comment) ? 'commentLike' : 'commentUnLike' "
            *ngIf="comment.commentCreatorId != userData.idAccount && !comment.pageCreatorId || comment.pageCreatorId && !page ||page && comment.pageCreatorId  && page.pageCreatorId != userData.idAccount  "
            (click)="likeComment(comment)" class="fa fa-thumbs-up fa-lg" id="commentLike" aria-hidden="true"></i>
          <span *ngIf="comment.doneBy" class="font-weight-bold" style="float: left;">
            {{comment.doneBy.firstName + " " + comment.doneBy.lastName }}: </span>
          <span *ngIf="comment.doneByPage" class="font-weight-bold" style="float: left;">
            {{comment.doneByPage.name}}: </span>
          <br>
          <p *ngIf="!editCommentOn || commentId != comment.idComment" style="float: left;">{{comment.text}}
          </p>

          <input *ngIf="editCommentOn && commentId == comment.idComment" [(ngModel)]="editCommentValue"
            class="edit-comment-input" />
          <button [disabled]="!editCommentValue || editCommentValue == comment.text"
            (click)="confirmEditComment(comment , editCommentValue)"
            *ngIf="editCommentOn && commentId == comment.idComment" class="btn btn-info btn-sm">edit</button>
        </div>

      </div>
      <small style="color: gray;   float: left;
        margin-left: 80px;">{{comment.date}}</small>
      <span *ngIf="comment.commentLike.length > 0" class="comment-number"
        style="background-color: lightgray; border-radius: 9px; padding: 5px; width: min-content; ">
        <img src="../../assets/download (1).jpg" width="20px" height="20px" style="border-radius:50% ;">
        {{comment.commentLike.length}}
        <span class="comment-info">
          <div *ngFor="let like of comment.commentLike ;"><span *ngIf="like.doneBy || like.doneByPage"> {{ like.doneBy
              ? like.doneBy.firstName + " " +
              like.doneBy.lastName :
              like.doneByPage.name }}
            </span>
          </div>
        </span>
      </span>

    </div>
  </ng-container>
  <div div class="flex">
    <img *ngIf="!page || page && userData.idAccount != page.pageCreatorId  " src="{{ userData.profilePhoto }}"
      class="profile-photo-comment" />
    <img *ngIf="page && post.doneByPage && userData.idAccount == page.pageCreatorId"
      src="{{ post.doneByPage.profilePhoto }}" class="profile-photo" />


    <input class="comment-input" [(ngModel)]="commentText" placeholder="write a comment" />

  </div>
  <p class="text-danger">{{errorPhrase}}</p>

</div>