.post-container {
  text-align: center;
  border-radius: 6px;
  margin: 20px auto 0px auto;
  border: 1px solid white;
  width: 550px;
  padding: 10px;
  background-color: whitesmoke;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 1px 0px #888888;
}

.post-container:hover {
  text-align: center;
  border-radius: 6px;
  margin: 20px auto 0px auto;
  border: 1px solid white;
  width: 560px;
  padding: 10px;
  box-shadow: 1px 10px 10px 1px #888888;
  background-color: white;
  transform: scale(1);
}

.edit-comment-input {
  width: fit-content;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 5px;
  border-style: none;
  margin-left: 10px;
  outline: none;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.commentLike {
  cursor: pointer;
  color: blue;
  float: right;
}

.commentUnLike {
  cursor: pointer;
  color: black;
  float: right;
}

.comment-number:hover .comment-info {
  visibility: visible;
}

.comment-info {
  visibility: hidden;
  width: max-content;

  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
}

#commentLike {
  transition: all 0.2s ease-in-out;
}

#commentLike:hover {
  transform: scale(1.5);
}

.icon {
  float: right;
  margin-right: 20px;
  /* margin-top: 10px; */
  font-size: large;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
  box-shadow: 1px 1px 1px 1px #888888;
}

.icon:hover {
  background-color: whitesmoke;
  transform: scale(1.5);
}
