<div class="row">
  <div class="col-3 ml-3">
    <app-side-bar></app-side-bar>
  </div>
  <div class="col-8">
    <div class="col-4" *ngFor="let page of pages" style="display: inline-flex;">
      <div
        class="container"
        style="
          background-color: lightgrey;
          width: fit-content;
          height: fit-content;
          margin-top: 10px;
          padding-left: 10px;
        "
      >
        <div
          id="page-pic"
          [ngStyle]="{ 'background-image': 'url(' + page.image + ')' }"
        ></div>

        <p class="font-weight-bold">{{ page.name }}</p>
        <small
          >{{ page.likes }}peole liked this
          <button
            *ngIf="!page.liked"
            class="btn btn-light ml-5 mb-2"
            type="button"
            (click)="like(pages.indexOf(page), page.post.text)"
          >
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>like
          </button>
          <button
            *ngIf="page.liked"
            class="btn btn-primary ml-5 mb-2"
            type="button"
            (click)="like(pages.indexOf(page), page.post.text)"
          >
            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
            unlike
          </button>
        </small>
      </div>
    </div>
  </div>
</div>
