/* .background {
  background-color: lightblue;
  border-radius: 8px;
  width: 100%;
  height: max-content;
  position: relative;
  animation-name: bounceInDown;
  animation-duration: 1s;
} */

.container-fluid {
  background-color: white;
  width: fit-content;
  padding: 30px;
}

/* button {
   position: relative;
  animation-name: bounceInUp;
  animation-duration: 2s; 
} */

.field-error {
  margin-top: 5px;
  animation: shakeX;
  animation-duration: 1s;
}
