.background {
  background-color: transparent;
  border-radius: 8px;
  width: 350px;
  height: max-content;
  position: relative;
  animation-name: bounceInDown;
  animation-duration: 1s;
}

button {
  position: relative;
  animation-name: bounceInUp;
  animation-duration: 2s;
}

.field-error {
  margin-top: 5px;
  animation: shakeX;
  animation-duration: 1s;
}
