<ng-container *ngIf="post && editPostComponent && userData">
    <div class="backdrop"></div>
    <div class="alert-box">
        <span>
            <i (click)="closeEditPostComponent()" style="color: red; float: right; cursor: pointer" class="fa fa-times"
                aria-hidden="true"></i>
            <h4 class="text-center">Edit post</h4>
        </span>
        <hr class="m-0" />
        <div>
            <img src="http://localhost:8080/files/{{ userData.profilePhoto}}" width="60px" height="60px"
                style="border-radius: 50%" />
            <span class="font-weight-bold">
                {{ userData.firstName + " " + userData.lastName }} shared:
            </span>
        </div>

        <div class="alert-box-action">



            <p class="text-center">{{ inputData }}</p>
            <p class="text-danger">{{errorPhrase}}</p>
            <div class="container">
                <img *ngIf="post.image && showImage" src="http://localhost:8080/files/{{ post?.image }}" width="80%"
                    height="80%;" style="margin-left: 50px;" />
                <img *ngIf=" postImage" [src]="postImage" width="150" height="100px" style="margin-left: 50px" />
                <i *ngIf="showImage && post?.image" style="color: lightskyblue; cursor: pointer;"
                    class="fa fa-trash fa-lg" aria-hidden="true" (click)="deleteImage()"></i>

            </div>

            <div class="container-fluid" style="margin: 10px 0 10px 0 ; display: flex;">
                <input class="form-control" value="{{inputData}}" [(ngModel)]="inputData">
                <input type="file" name="file" (change)="uploadImage($event)" id="file" class="inputfile" />
                <label style=" cursor: pointer" for="file">
                    <img src="https://png.pngtree.com/png-vector/20191129/ourmid/pngtree-image-upload-icon-photo-upload-icon-png-image_2047546.jpg"
                        width="25px" height="25px" style="border-radius: 50%; color: blue" />
                </label>
            </div>




            <button [disabled]="!inputData || inputData == ' '" type="button" class="btn btn-primary btn-block"
                (click)="confirmEdit()">
                Edit
            </button>
        </div>
    </div>
</ng-container>