<ng-container *ngIf="post && editPostComponent && userData">
    <div class="backdrop"></div>
    <div class="alert-box">
        <div class="alert-box-action">
            <span>
                <i (click)="closeEditPostComponent()" style="color: red; float: right; cursor: pointer"
                    class="fa fa-times" aria-hidden="true"></i>
                <h4 class="text-center">Edit post</h4>
            </span>
            <hr class="m-0" />
            <div>
                <img src="{{   userData.profilePhoto}}" width="60px" height="60px" style="border-radius: 50%" />
                <span class="font-weight-bold ">
                    {{ userData.firstName + " " + userData.lastName }} shared:
                </span>
            </div>

            <p class="text-center">{{ inputData }}</p>
            <p class="text-danger">{{errorPhrase}}</p>

            <i *ngIf="showImage && post?.image" style="color: lightskyblue; cursor: pointer; float: right;"
                class="fa fa-trash fa-lg" aria-hidden="true" (click)="deleteImage()"></i>
            <br>
            <img *ngIf="post.image && showImage" src="{{post.image}}" width="60%" height="60%;"
                style="margin: 0 auto 0 20%; border-radius: 8px;" />
            <img *ngIf=" postImage" [src]="postImage" width="60%" height="60%;"
                style="margin: 0 auto 0 20%;  border-radius: 8px;" />



            <div class="container-fluid" style="margin: 10px 0 10px 0 ; display: flex;">
                <input class="form-control" value="{{inputData}}" [(ngModel)]="inputData">
                <input type="file" name="file" (change)="uploadImage($event)" id="file" class="inputfile" />
                <label style=" cursor: pointer" for="file">
                    <img src="https://png.pngtree.com/png-vector/20191129/ourmid/pngtree-image-upload-icon-photo-upload-icon-png-image_2047546.jpg"
                        width="25px" height="25px" style="border-radius: 50%; color: blue" />
                </label>
            </div>
            <button type="button" class="btn btn-outline-primary btn-block" (click)="confirmEdit()">
                Edit
            </button>
        </div>
    </div>
</ng-container>