.active-class {
  color: black;
}

#messenger:hover {
  text-decoration: underline;
}

p {
  animation-name: example;
  animation-duration: 4s;
}
i:hover {
  color: black;
}

.imageAndName {
  width: 150px;
  color: silver;
}
