<nav *ngIf="userData" class="navbar navbar-expand-md navbar-dark sticky-top shadow-lg"
    style="height: 72px; background-color: #0070ba;">
    <div class="imageAndName">
        <img src="{{ userData.profilePhoto }}" width="50px" height="50px" style="border-radius: 50%; " />

        {{userData.firstName + " " +userData.lastName}}
    </div>

    <a (click)="goToHomePage()" style="margin-left: 370px;">
        <i routerLinkActive="active-class" style="cursor: pointer;   font-size: 2rem;" class="fa fa-home"
            aria-hidden="true"></i>

    </a>


    <a (click)="goToProfile(userData.idAccount)" style="margin-left: 100px;">
        <i routerLinkActive="active-class" style="cursor: pointer;  font-size: 2rem;" class="fa fa-user"
            aria-hidden=" true">
        </i>
    </a>


    <app-friend-request style="margin-left: 200px;"></app-friend-request>

    <app-notification style="margin-left: 10px;"></app-notification>
    <h6>
        <button type="button" style="margin-top: 10px; margin-left: 30px; color: white;"
            class="btn btn-outline-dark btn-sm" (click)="logOut()">
            log Out
        </button>
    </h6>
</nav>