<ng-container *ngIf="post && sharePostComponent && userData">
    <div class="backdrop"></div>
    <div class="alert-box" style="height: fit-content">
        <span>
            <i (click)="closeSharePostComponent()" style="color: red; float: right; cursor: pointer" class="fa fa-times"
                aria-hidden="true"></i>
            <h4 class="text-center">Share post</h4>
        </span>
        <hr />
        <div class="alert-box-action">
            <img *ngIf="userData.profilePhoto" src="{{ imgUrl + userData.profilePhoto}}" width="60px" height="60px"
                style="border-radius: 50%" />
            <span class="font-weight-bold">
                {{ userData.firstName + " " + userData.lastName }} shared:
            </span>
            <div class="md-form">
                <input class="form-control mb-1" placeholder="enter your own text" [(ngModel)]="inputData">
                <div style="border: 1px solid black; border-radius: 8px;">
                    <img *ngIf="postDoneBy.profilePhoto" src="{{ imgUrl + postDoneBy.profilePhoto }}" width="50px"
                        style="border-radius: 50%;" height="50px" />
                    <span class="font-weight-bold">
                        {{ postDoneBy.firstName + " " + postDoneBy.lastName }}
                        shared: </span>
                    <p class="text-center">{{post.text}}</p>
                    <img style="padding-left: 20px;" *ngIf="post.image" src="{{ imgUrl + post.image }}" width="300"
                        height="200px" style="margin-left: 84px; margin-bottom: 5px;" />
                </div>
            </div>
            <p class="text-danger">{{errorPhrase}}</p>
            <button [disabled]="!inputData || inputData == ' '" type="button"
                class="btn btn-primary btn-block mb-1 mt-1" (click)="confirmShare(post.idPost ,inputData )">
                Share
            </button>
        </div>
    </div>
</ng-container>