<ng-container *ngIf="post && sharePostComponent && userData">
    <div class="backdrop"></div>
    <div class="alert-box" style="height: fit-content">
        <span>
            <i (click)="closeSharePostComponent()" style="color: red; float: right; cursor: pointer" class="fa fa-times"
                aria-hidden="true"></i>
            <h4 class="text-center">Share post</h4>
        </span>
        <hr />
        <div class="alert-box-action">
            <img *ngIf="userData.profilePhoto" src="{{  userData.profilePhoto}}" width="60px" height="60px"
                style="border-radius: 50%" />
            <span class="font-weight-bold">
                {{ userData.firstName + " " + userData.lastName }} shared:
                <br>
                <button type="button" class="btn btn-ourline btn-sm dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"
                    style="margin: -40px 0px 0px 75px; font-size: small;  background-color:lightgray ;">
                    <i class="{{postOption.icon}}" aria-hidden="true"></i>
                    {{postOption.status}}
                </button>
                <div class="dropdown-menu">
                    <div *ngFor="let option of postOptions">
                        <a *ngIf="option.status != postOption.status" class="dropdown-item" style=" cursor: pointer;"
                            (click)="private(option)">
                            <i class="{{option.icon}}" aria-hidden="true"></i><span
                                class="ml-1">{{option.status}}</span>
                        </a>
                    </div>
                </div>
            </span>
            <div class="md-form">
                <input class="form-control mb-1" placeholder="enter your own text" [(ngModel)]="inputData">
                <div style="border: 1px solid black; border-radius: 8px;">
                    <img *ngIf="postDoneBy.profilePhoto" src="{{  postDoneBy.profilePhoto }}" width="50px"
                        style="border-radius: 50%;" height="50px" />
                    <span class="font-weight-bold">
                        {{ postDoneBy.firstName + " " + postDoneBy.lastName }}
                        shared: </span>
                    <p class="text-center">{{post.text}}</p>
                    <div class="text-center">
                        <img *ngIf="post.image" src="{{  post.image }}" width="40%" height="40%" />
                    </div>
                </div>
            </div>
            <p class="text-danger">{{errorPhrase}}</p>
            <button [disabled]="!inputData || inputData == ' '" type="button"
                class="btn btn-primary btn-block mb-1 mt-1" (click)="confirmShare(post , inputData )">
                Share
            </button>
        </div>
    </div>
</ng-container>