.content {
  padding: 10px;
  height: fit-content;
  background-color: lightgrey;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.container-fluid:hover {
  transform: scale(1.05);
}

.container-fluid {
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
  animation: fadeInUp;
}

.custom {
  width: 178px !important;
}
