.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.alert-box {
  position: fixed;
  top: 15vh;
  left: 30vw;
  width: 35vw;
  height: 100vw;
  padding: 16px;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0, 0.26);
  border-radius: 8px;
}
.alert-box-action {
  position: relative;
  animation-name: example2;
  animation-duration: 1s;
}
@keyframes example2 {
  0% {
    right: 300px;
    bottom: 0px;
  }
  50% {
    right: 200px;
    bottom: 0px;
  }
  50% {
    right: 0px;
    bottom: 0px;
  }
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.icon {
  padding: 4px;
  font-size: large;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-color: lightgray;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}

.icon:hover {
  background-color: whitesmoke;
  transform: scale(1.5);
}
