<div class="container-fluid" *ngFor="let post of dbPosts">
  <div class="container" *ngIf="id === post.idPost"
    style="border-radius: 10px; margin-top: 10px; background-color: lightblue;">
    <div class="row">
      <div class="col-md-8">
        <img src="{{post.doneBy.profilePhoto}}" width="40px" height="40px"
          style="border-radius: 50%;"><span>{{post.doneBy.firstName + " " + post.doneBy.lastName}}</span>
        <p style="margin-left: 21%;">{{post.text}}</p>
        <img *ngIf="post.image" src="{{post.image}}" style="width: 700px; height: 500px; border-radius: 8px;" />
        <!-- <img src="{{    post.image}}" style="width: 80%; height: 80%" /> -->
      </div>
      <div class="col-md-3" style="
          background-color: white;
          border-right: 1px solid black;
          border-top: 1px solid black;
          border-bottom: 1px solid black;
        ">
        <p>
          {{ post.description }}
        </p>
        <hr />
        <span class="font-weight-bold">
          <i class="fa fa-thumbs-up" aria-hidden="true" style="color: blue;"></i>
          {{ post.postLikes.length }} likers:
        </span>

        <div *ngFor="let u of post.postLikes">
          <li class="ml-4" *ngIf="u.doneBy">{{ u.doneBy.firstName + " " + u.doneBy.lastName }}</li>
        </div>
        <hr />
        <p class="font-weight-bold">comments:</p>
        <div *ngIf="post.comments.length > 0">
          <ul *ngFor="let i of post.comments">
            <li>
              <div class="container-fluid" style="background-color: whitesmoke">
                <span *ngIf=i.doneBy>
                  <img src="{{   i.doneBy.profilePhoto }}" width="35px" style="border-radius: 50%" />

                  {{ i.doneBy.firstName + " " + i.doneBy.lastName }} :
                  {{ i.text }}
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>