p {
  font-family: "Kanit", sans-serif;
}

span {
  font-family: "Kanit", sans-serif;
}

i {
  font-family: "Kanit", sans-serif;
}

a {
  font-family: "Kanit", sans-serif;
}

.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
