#second-div {
  margin-top: 5px;
  height: 800px;
  overflow-y: scroll;
}

#last-div {
  border-left: 1px solid black;
  margin-top: 5px;
}

li {
  margin-top: 20px;
  outline: none;
}
li:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

small:hover {
  text-decoration: underline;
}

span {
  outline: none;
}

body {
  background-color: white;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
