#second-div {
  height: 800px;
  overflow-y: scroll;

  background-color: white;
}

#first-div {
  background-color: whitesmoke;
}

#third-div {
  background-color: whitesmoke;
  background-color: #926dde;
}
li {
  margin-top: 20px;
  outline: none;
}
li:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

small:hover {
  text-decoration: underline;
}

span {
  outline: none;
}

body {
  background-color: white;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.61);
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
}
