#second-div {
  height: 100vh;
  overflow-y: scroll;
  background-color: white;
}

#first-div {
  background-color: lightgrey;
  /* height: 100vh; */
}

#third-div {
  background-color: #926dde;
  /* height: 100vh; */
}

li {
  margin-top: 20px;
  outline: none;
}
li:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

/* .friends-close {
  animation: fadeOutUpBig;
  animation-duration: 0.8s;
}

.friends-open {
  animation: fadeInDownBig;
  animation-duration: 0.5s;
}

.peolpeYouMayKnow-open {
  animation: fadeInDownBig;
  animation-duration: 0.7s;
}

.peolpeYouMayKnow-close {
  animation: fadeOutUpBig;
  animation-duration: 0.9s;
} */

small:hover {
  text-decoration: underline;
}

span {
  outline: none;
}

.container-fluid {
  overflow-y: hidden;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.61);
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
}
