<div id="container" class="container-fluid" style="background-color: lightcyan">
  <div class="row">
    <div id="first-div" class="col-md-3 mt-2" style="background-color: whitesmoke">
      <app-side-bar></app-side-bar>
    </div>

    <div id="second-div" class="col-md-6">
      <div class="container mt-2" style="
          width: 500px;
          background-color: white;
          margin-left: 50px;
          border-radius: 10px;
        ">
        <span>
          <img src="http://localhost:8080/files/{{userData?.profilePhoto}}" width="50px" style="border-radius: 50%" />
          <input (click)="openDiv()" class="ml-2" [(ngModel)]="input" placeholder="what's in your mind, {{
              userData?.firstName
            }}? " style="
              width: 300px;
              border-radius: 10px;
              background-color: lightgray;
              border-style: none;
            " />
        </span>
        <app-alert *ngIf="alertComponent"></app-alert>

        <hr />
        <span style="color: red" class="font-weight-bold ml-4">
          <i class="fa fa-video-camera" aria-hidden="true"></i> live video</span><span style="color: green"
          class="font-weight-bold ml-5">
          <i class="fa fa-picture-o" aria-hidden="true"></i> photos</span><span style="color: blue"
          class="font-weight-bold ml-5">
          <i class="fa fa-calendar" aria-hidden="true"></i> events</span>
      </div>
      <br />
      <hr />
      <h2 style="color: blue" class="font-weight-bold">News Feed</h2>
      <hr />
      <app-posts-container></app-posts-container>
      <br />
    </div>
    <div id="last-div" class="col-md-3" style="background-color: whitesmoke">
      <app-friends-container></app-friends-container>
    </div>
  </div>
</div>