<div class="container-fluid">
  <div class="row" style="margin-top: 65px;">
    <div id="first-div" class="col-md-3" *ngIf="userData">
      <div class="side-bar">
        <app-side-bar></app-side-bar>
      </div>
      <br>
      <app-account-photos [account]="userData"></app-account-photos>
    </div>
    <!-- ngClass="{{ open ? 'col-md-6' : 'col-md-9' }}" -->
    <div id="second-div" class="col-md-6">
      <div class="col-md-7" style="margin: 10px auto 0px auto;">
        <app-what-on-mind (createPost)="openDiv($event)"></app-what-on-mind>
      </div>

      <hr />
      <h2 style="color: blue" class="font-weight-bold">News Feed</h2>
      <hr />

      <app-posts-container [posts]="dbPosts" [status]="status"> </app-posts-container>

    </div>
    <div *ngIf="open && peopleYouMayKnow && friends" id="third-div" class="col-md-3">
      <div ngClass="{{openFriends == 1 ? 'friends-open' : 'friends-close'}}">
        <app-friends-container (unFriendInHomePage)="unFriend($event)" *ngIf="friends.length > 0" [users]="friends"
          [areFriends]="true">
        </app-friends-container>
      </div>
      <br>
      <div>
        <app-friends-container *ngIf="peopleYouMayKnow.length > 0" [users]="peopleYouMayKnow" [areFriends]="false">
        </app-friends-container>
      </div>
    </div>

  </div>
  <app-share-post></app-share-post>

</div>