<ng-container *ngIf="openComponent">
    <div class="backdrop"></div>
    <div class="alert-box">
        <span>

            <h4 class="text-center">Delete post</h4>
        </span>
        <hr class="m-0" />

        <div class="alert-box-action">
            are you sure you wanna delete this post {{ postId}}

        </div>

        <div class="container-fluid" style="margin: 10px 0 10px 0 ; display: flex;">

        </div>
        <button type="button" class="btn btn-danger btn-block">
            Delete
        </button>
        <button type="button" class="btn btn-outline btn-block">
            cancel
        </button>
    </div>

</ng-container>