<ng-container>
    <div class="backdrop"></div>
    <div class="alert-box">
        <span>
            <h4 class="text-center">Delete post</h4>
        </span>
        <hr class="m-0" />
        <div class="alert-box-action">

            <p style="padding: 10px; float: left;"> are you sure you wanna delete this post ?
            </p>
            <button type="button" class="btn btn-outline-danger btn-block " (click)=" delete()">
                Delete
            </button>
            <button type="button" class="btn btn-outline-info btn-block " (click)="cancel()">
                cancel
            </button>
        </div>
    </div>

</ng-container>