.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.alert-box {
  position: fixed;
  left: 30vw;
  top: 15vw;
  width: 35vw;
  height: max-content;
  padding: 16px;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0, 0.26);
  border-radius: 8px;
}

@keyframes example3 {
  0% {
    right: 0px;
    bottom: 300px;
  }
  50% {
    right: 0px;
    bottom: 100px;
  }
  50% {
    right: 0px;
    bottom: 0px;
  }
}
.alert-box-action {
  text-align: right;
  position: relative;
  animation-name: example3;
  animation-duration: 1s;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
