#page {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 30px;
  border-radius: 8px;
  background-color: white;
  height: max-content;
  margin-top: 30px;
  box-shadow: 1px 1px 1px 1px #888888;
}

.col-md-9 {
  background-color: whitesmoke;
}

.content {
  padding: 10px;
  background-color: lightgray;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.col-md-4 {
  height: fit-content;
}
.side-bar {
  margin-top: 34px;
  background-color: white;
}
