<ng-container *ngIf="requestedUserData && loggedInUserData">
  <div class="container-fluid mt-1" style="width: 750px; height: 140px; border-radius: 10px; background-size:cover ;">
    <div class="text-center mt-5">
      <img src="{{imgUrl +  requestedUserData.coverPhoto }}" width="100%" height="160px" style="border-radius: 10px;">
      <img src="{{ imgUrl + requestedUserData.profilePhoto}}" width="120px"
        style="border-radius: 50%; margin-top: -65px;" />
      <p class="font-weight-bold">{{ requestedUserData.firstName + " " + requestedUserData.lastName }}</p>
    </div>

  </div>

  <div class="container" style="margin-top: 100px; margin-left: 200px;">
    <span class="new" routerLink="/home-page">Home page</span>
    <span class="new">My Friends</span>
    <span class="new">Photos</span>
    <button (click)="goToMessengerOrAddFriend(requestedUserData.idAccount)" style="margin-left: 300px;"
      *ngIf="requestedUserData.idAccount !== loggedInUserData.idAccount"
      [class]="(status == 'add friend' || status == 'chat' )? 'btn btn-primary btn-sm' :'btn btn-danger btn-sm' ">{{status}}<i
        class="fa fa-user-plus ml-1" aria-hidden="true"></i> </button>
    <button *ngIf="requestedUserData.idAccount == loggedInUserData.idAccount" class="btn btn-info btn-sm "
      style="margin-left: 400px;" (click)="goToEditing()">
      <i class="fa fa-pencil" aria-hidden="true"></i>
      Edit profile</button>

  </div>



  <div class="row" style="background-color: whitesmoke;">
    <div class="col-3" style="margin-left: 5em;">
      <div class="main mt-2" style="
          height: fit-content;
          background-color: whitesmoke;
          padding: 10px;
          border-radius: 10px;
        ">
        <h3>intro</h3>
        <hr />
        <li>
          <i class="fa fa-graduation-cap" aria-hidden="true"></i> studied at
          <span class="font-weight-bold">{{ requestedUserData?.study }}</span>
        </li>
        <li>
          <i class="fa fa-university" aria-hidden="true"></i> went to
          <span class="font-weight-bold"> {{ requestedUserData.wentTo }}</span>
        </li>
        <li>
          <i class="fa fa-home" aria-hidden="true"></i> lives in
          <span class="font-weight-bold"> {{ requestedUserData.livesIn }}</span>
        </li>
      </div>

    </div>
    <div class="col-6 mt-1" style="background-color: white; border-radius: 10px">
      <div *ngIf="loggedInUserData.idAccount !== requestedUserData.idAccount" class="mt-2 ml-4"
        style="width: 90%; background-color: whitesmoke; border-radius: 10px">
        <span>
          <img src="{{ imgUrl + loggedInUserData.profilePhoto}}" width="50px" style="border-radius: 50%" />
          <input (click)="openLeavePostComponent()" class="ml-2"
            placeholder="leave a post for {{requestedUserData.firstName}}" style="
              width: 300px;
              border-radius: 10px;
              background-color: lightcyan;
              border-style: none;
            " />

        </span>
        <hr />
        <span style="color: red" class="font-weight-bold ml-4">
          <i class="fa fa-video-camera" aria-hidden="true"></i> live video</span><span style="color: green"
          class="font-weight-bold ml-5">
          <i class="fa fa-picture-o" aria-hidden="true"></i> photos</span><span style="color: blue"
          class="font-weight-bold ml-5">
          <i class="fa fa-calendar" aria-hidden="true"></i> events</span>
      </div>
      <app-leave-post></app-leave-post>

      <div class="container-fluid mt-4" class="scrollable-element"
        style="overflow-y: scroll; overflow-x: hidden; height: 450px;">
        <h3>posts</h3>
        <hr />
        <app-posts-container [posts]="requestedAccountPosts"> </app-posts-container>
      </div>
    </div>
  </div>

</ng-container>