.new {
  color: blue;
  margin-left: 20px;

  font-weight: bold;
}
.new:hover {
  cursor: pointer;
  text-decoration: underline;
}

.li {
  font-size: large;
}

#event-pic {
  width: 100%;
  height: 200px;
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: whitesmoke;
}

.post-container {
  text-align: center;
  background: white;
  border-radius: 6px;
  margin-top: 30px;
}
